

@{
    ViewBag.Title = "AtualizandoDados";
    Layout = "~/Views/Home/Index.cshtml";
}

<center><h2>Atualizando Dados...</h2></center>

<script type="text/javascript">
            $(document).ready( function() {

                window.location = "/Home/Index.cshtml";
            });
</script>